{#
#------------------------------------------------------------------------------
#
# Author: Andreas Schenk
# Friedrich Miescher Institute, Basel, Switzerland
#
# This program is free software; you can redistribute it and/or modify it under
# the terms of the GNU General Public License as published by the Free
# Software Foundation; either version 3.0 of the License.
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more
# details.
#
# You should have received a copy of the GNU General Public License
# along with this file.  If not, see <http:#www.gnu.org/licenses/>.
#
#------------------------------------------------------------------------------
#}
{% extends "submit.sh.j2" %}
{% block header %}
{{ super() }}
#SBATCH --gres=gpu:v100:{{ job.ngpu }}
{% endblock header %}
{% block preamble %}
{{ super() }}
#source /<path_to>/user_mps_daemon
{% endblock preamble %}
