{#
#------------------------------------------------------------------------------
#
# Author: Andreas Schenk
# Friedrich Miescher Institute, Basel, Switzerland
#
# This program is free software; you can redistribute it and/or modify it under
# the terms of the GNU General Public License as published by the Free
# Software Foundation; either version 3.0 of the License.
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more
# details.
#
# You should have received a copy of the GNU General Public License
# along with this file.  If not, see <http:#www.gnu.org/licenses/>.
#
#------------------------------------------------------------------------------
#}
{% extends "base.sh.j2" %}
{% block header %}
{{ super() }} 
#SBATCH --job-name={{ job.outfile }}
#SBATCH --chdir=.
#SBATCH --cpus-per-task={{ job.nthread_slurm | default(job.nthread) }}
#SBATCH --ntasks={{ job.nproc_slurm | default(job.nproc) }}
#SBATCH --ntasks-per-node={{ job.nproc_slurm | default(job.nproc) }}
#SBATCH --output={{ job.outfile }}
#SBATCH --error={{ job.errfile }}
#SBATCH --partition={{ job.partition }}
#SBATCH --mem={{ job.mem }}
{% endblock header %}
{% block command %}
{{ job.pre_commands|join("\n")}}
mpirun -n {{ job.nproc }} {{job.command }}_mpi  {{ job.arguments }}
{{ job.post_commands|join("\n")}}
{% endblock command %}


